In [1]:
import pandas as pd
import numpy as np

### Restaurant

In [2]:
data = pd.read_csv(r"datasets\vlsp2018_restaurant\1-VLSP2018-SA-Restaurant-train.csv")
# data = pd.read_csv(r"datasets\vlsp2018_restaurant\3-VLSP2018-SA-Restaurant-test.csv")
# data = pd.read_csv(r"datasets\vlsp2018_restaurant\2-VLSP2018-SA-Restaurant-dev.csv")

In [3]:
data.head(3)

,Review,AMBIENCE#GENERAL,DRINKS#PRICES,DRINKS#QUALITY,DRINKS#STYLE&OPTIONS,FOOD#PRICES,FOOD#QUALITY,FOOD#STYLE&OPTIONS,LOCATION#GENERAL,RESTAURANT#GENERAL,RESTAURANT#MISCELLANEOUS,RESTAURANT#PRICES,SERVICE#GENERAL
0,"_ Ảnh chụp từ hôm qua, đi chơi với gia đình và...",0,0,0,0,0,3,3,0,0,0,0,0
1,"_Hương vị thơm ngon, ăn cay cay rất thích, nêm...",1,0,0,0,3,1,1,0,1,0,3,2
2,- 1 bàn tiệc hoành tráng 3 đứa ăn no muốn tắt ...,2,0,0,0,1,1,1,2,1,1,0,1

In [4]:
data.columns, data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2961 entries, 0 to 2960
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Review                    2961 non-null   object
 1   AMBIENCE#GENERAL          2961 non-null   int64
 2   DRINKS#PRICES             2961 non-null   int64
 3   DRINKS#QUALITY            2961 non-null   int64
 4   DRINKS#STYLE&OPTIONS      2961 non-null   int64
 5   FOOD#PRICES               2961 non-null   int64
 6   FOOD#QUALITY              2961 non-null   int64
 7   FOOD#STYLE&OPTIONS        2961 non-null   int64
 8   LOCATION#GENERAL          2961 non-null   int64
 9   RESTAURANT#GENERAL        2961 non-null   int64
 10  RESTAURANT#MISCELLANEOUS  2961 non-null   int64
 11  RESTAURANT#PRICES         2961 non-null   int64
 12  SERVICE#GENERAL           2961 non-null   int64
dtypes: int64(12), object(1)
memory usage: 300.9+ KB

(Index(['Review', 'AMBIENCE#GENERAL', 'DRINKS#PRICES', 'DRINKS#QUALITY',
        'DRINKS#STYLE&OPTIONS', 'FOOD#PRICES', 'FOOD#QUALITY',
        'FOOD#STYLE&OPTIONS', 'LOCATION#GENERAL', 'RESTAURANT#GENERAL',
        'RESTAURANT#MISCELLANEOUS', 'RESTAURANT#PRICES', 'SERVICE#GENERAL'],
       dtype='object'),
 None)

In [5]:
def PriceMerge(row, data, key):
    value = np.zeros(len(key))
    cols = np.array(data.columns)[1:]
    label = np.array(row)[1:]
    dt = pd.DataFrame([value], columns=key, dtype=int)
    for i, col in enumerate(cols):
        for k in key:
            if k in col:
                if (label[i] > 0):
                    dt[k] = 1
    
    return dt

In [6]:
key = ['Review', 'AMBIENCE', 'QUALITY', 'PRICES', 'LOCATION', 'SERVICE']
newCol = data.apply(lambda row : PriceMerge(row, data, key[1:]), axis=1)
result_df = pd.concat([data, pd.concat(newCol.values).reset_index(drop=True)], axis=1)
result_df = result_df[key]
print(result_df.head(3))

                                              Review  AMBIENCE  QUALITY  \
0  _ Ảnh chụp từ hôm qua, đi chơi với gia đình và...         0        1
1  _Hương vị thơm ngon, ăn cay cay rất thích, nêm...         1        1
2  - 1 bàn tiệc hoành tráng 3 đứa ăn no muốn tắt ...         1        1

   PRICES  LOCATION  SERVICE
0       0         0        0
1       1         0        1
2       1         1        1

In [8]:
result_df.to_csv(r'relabel\restaurant\Restaurant-train.csv', index=False)
# result_df.to_csv(r'relabel\restaurant\Restaurant-dev.csv', index=False)
# result_df.to_csv(r'relabel\restaurant\Restaurant-test.csv', index=False)

In [43]:
data_train_change = pd.read_csv(r'relabel\restaurant\Restaurant-train.csv')
data_dev_change = pd.read_csv(r'relabel\restaurant\Restaurant-dev.csv')
data_test_change = pd.read_csv(r'relabel\restaurant\Restaurant-test.csv')

In [44]:
data_train_change['LOCATION'].sum(), data_train_change['SERVICE'].sum(), data_train_change['AMBIENCE'].sum(), data_train_change['QUALITY'].sum(), data_train_change['PRICES'].sum()

(373, 795, 737, 2686, 1648)

In [45]:
data_dev_change['LOCATION'].sum(), data_dev_change['SERVICE'].sum(), data_dev_change['AMBIENCE'].sum(), data_dev_change['QUALITY'].sum(), data_dev_change['PRICES'].sum()

(134, 228, 205, 1170, 768)

In [46]:
data_test_change['LOCATION'].sum(), data_test_change['SERVICE'].sum(), data_test_change['AMBIENCE'].sum(), data_test_change['QUALITY'].sum(), data_test_change['PRICES'].sum()

(179, 175, 255, 474, 405)

### Hotel

In [35]:
# data = pd.read_csv(r"datasets\vlsp2018_hotel\1-VLSP2018-SA-Hotel-train.csv")
# data = pd.read_csv(r"datasets\vlsp2018_hotel\2-VLSP2018-SA-Hotel-dev.csv")
data = pd.read_csv(r"datasets\vlsp2018_hotel\3-VLSP2018-SA-Hotel-test.csv")

In [ ]:
data.head(3)

In [ ]:
data.columns, data.info()

In [36]:
def PriceMerge(row, data, key):
    value = np.zeros(len(key))
    cols = np.array(data.columns)[1:]
    label = np.array(row)[1:]
    dt = pd.DataFrame([value], columns=key, dtype=int)
    for i, col in enumerate(cols):
        for k in key:
            kp = 'XXXXX'
            if k == 'AMBIENCE': 
                kp = 'ROOM_AMENITIES'
            if k == 'QUALITY':
                kp = 'FACILITIES'
            if (k in col) or (kp in col):
                if (label[i] > 0):
                    dt[k] = 1
    
    return dt

In [37]:
key = ['Review', 'AMBIENCE', 'QUALITY', 'PRICES', 'LOCATION', 'SERVICE']
newCol = data.apply(lambda row : PriceMerge(row, data, key[1:]), axis=1)
result_df = pd.concat([data, pd.concat(newCol.values).reset_index(drop=True)], axis=1)
result_df = result_df[key]
print(result_df.head(3))

                                              Review  AMBIENCE  QUALITY  \
0  Ga giường không sạch, nhân viên quên dọn ph...         1        0
1  Nv nhiệt tình, phòng ở sạch sẽ, tiện nghi, vị ...         0        0
2  Đi bộ ra biển gần, tiện đi lại Phòng view biển...         0        0

   PRICES  LOCATION  SERVICE
0       0         0        1
1       0         1        1
2       0         1        0

In [38]:
# result_df.to_csv(r'relabel\hotel\Hotel-train.csv', index=False)
# result_df.to_csv(r'relabel\hotel\Hotel-dev.csv', index=False)
result_df.to_csv(r'relabel\hotel\Hotel-test.csv', index=False)

In [39]:
data_train_change = pd.read_csv(r'relabel\hotel\Hotel-train.csv')
data_dev_change = pd.read_csv(r'relabel\hotel\Hotel-dev.csv')
data_test_change = pd.read_csv(r'relabel\hotel\Hotel-test.csv')

In [40]:
data_train_change['AMBIENCE'].sum(), data_train_change['QUALITY'].sum(), data_train_change['PRICES'].sum(), data_train_change['LOCATION'].sum(), data_train_change['SERVICE'].sum()

(738, 1632, 814, 1196, 1912)

In [41]:
data_dev_change['AMBIENCE'].sum(), data_dev_change['QUALITY'].sum(), data_dev_change['PRICES'].sum(), data_dev_change['LOCATION'].sum(), data_dev_change['SERVICE'].sum()

(669, 826, 245, 567, 1311)

In [42]:
data_test_change['AMBIENCE'].sum(), data_test_change['QUALITY'].sum(), data_test_change['PRICES'].sum(), data_test_change['LOCATION'].sum(), data_test_change['SERVICE'].sum()

(242, 293, 119, 221, 416)