In [1]:
import pandas as pd
import numpy as np

### Restaurant

In [2]:
# data = pd.read_csv(r"datasets\vlsp2018_restaurant\1-VLSP2018-SA-Restaurant-train.csv")
data = pd.read_csv(r"datasets\vlsp2018_restaurant\2-VLSP2018-SA-Restaurant-dev.csv")
# data = pd.read_csv(r"datasets\vlsp2018_restaurant\3-VLSP2018-SA-Restaurant-test.csv")

In [3]:
data.head(3)

,Review,AMBIENCE#GENERAL,DRINKS#PRICES,DRINKS#QUALITY,DRINKS#STYLE&OPTIONS,FOOD#PRICES,FOOD#QUALITY,FOOD#STYLE&OPTIONS,LOCATION#GENERAL,RESTAURANT#GENERAL,RESTAURANT#MISCELLANEOUS,RESTAURANT#PRICES,SERVICE#GENERAL
0,"- 60k/1con- Tu hài to, siêu béo siêu ngon, nướ...",0,0,0,0,1,1,0,0,0,0,0,0
1,- Ăn hai người no căng :3- Nhiều đồ ăn kèm như...,0,0,0,0,1,0,1,0,1,0,0,0
2,- Ấn tượng đầu là quán siêu to siêu thoáng lại...,1,0,0,0,1,1,1,0,0,0,0,1

In [4]:
data.columns, data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290 entries, 0 to 1289
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Review                    1290 non-null   object
 1   AMBIENCE#GENERAL          1290 non-null   int64
 2   DRINKS#PRICES             1290 non-null   int64
 3   DRINKS#QUALITY            1290 non-null   int64
 4   DRINKS#STYLE&OPTIONS      1290 non-null   int64
 5   FOOD#PRICES               1290 non-null   int64
 6   FOOD#QUALITY              1290 non-null   int64
 7   FOOD#STYLE&OPTIONS        1290 non-null   int64
 8   LOCATION#GENERAL          1290 non-null   int64
 9   RESTAURANT#GENERAL        1290 non-null   int64
 10  RESTAURANT#MISCELLANEOUS  1290 non-null   int64
 11  RESTAURANT#PRICES         1290 non-null   int64
 12  SERVICE#GENERAL           1290 non-null   int64
dtypes: int64(12), object(1)
memory usage: 131.1+ KB

(Index(['Review', 'AMBIENCE#GENERAL', 'DRINKS#PRICES', 'DRINKS#QUALITY',
        'DRINKS#STYLE&OPTIONS', 'FOOD#PRICES', 'FOOD#QUALITY',
        'FOOD#STYLE&OPTIONS', 'LOCATION#GENERAL', 'RESTAURANT#GENERAL',
        'RESTAURANT#MISCELLANEOUS', 'RESTAURANT#PRICES', 'SERVICE#GENERAL'],
       dtype='object'),
 None)

In [5]:
def PriceMerge(row, data, key):
    value = np.zeros(len(key))
    cols = np.array(data.columns)[1:]
    label = np.array(row)[1:]
    dt = pd.DataFrame([value], columns=key, dtype=int)
    for i, col in enumerate(cols):
        for k in key:
            if k in col:
                if (label[i] > 0):
                    dt[k] = 1
    
    return dt

In [6]:
key = ['Review', 'AMBIENCE', 'QUALITY', 'PRICES', 'LOCATION', 'SERVICE']
newCol = data.apply(lambda row : PriceMerge(row, data, key[1:]), axis=1)
result_df = pd.concat([data, pd.concat(newCol.values).reset_index(drop=True)], axis=1)
result_df = result_df[key]
print(result_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290 entries, 0 to 1289
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    1290 non-null   object
 1   AMBIENCE  1290 non-null   int64
 2   QUALITY   1290 non-null   int64
 3   PRICES    1290 non-null   int64
 4   LOCATION  1290 non-null   int64
 5   SERVICE   1290 non-null   int64
dtypes: int64(5), object(1)
memory usage: 60.6+ KB
None

In [7]:
last_df = result_df[(result_df[key[1:]] != 0).any(axis=1)]
last_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1273 entries, 0 to 1289
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    1273 non-null   object
 1   AMBIENCE  1273 non-null   int64
 2   QUALITY   1273 non-null   int64
 3   PRICES    1273 non-null   int64
 4   LOCATION  1273 non-null   int64
 5   SERVICE   1273 non-null   int64
dtypes: int64(5), object(1)
memory usage: 69.6+ KB

In [8]:
# last_df.to_csv(r'relabel\restaurant\vn\Restaurant-train.csv', index=False)
last_df.to_csv(r'relabel\restaurant\vn\Restaurant-dev.csv', index=False)
# last_df.to_csv(r'relabel\restaurant\vn\Restaurant-test.csv', index=False)

In [53]:
data_train_change = pd.read_csv(r'relabel\restaurant\vn\Restaurant-train.csv')
data_dev_change = pd.read_csv(r'relabel\restaurant\vn\Restaurant-dev.csv')
data_test_change = pd.read_csv(r'relabel\restaurant\vn\Restaurant-test.csv')

In [54]:
data_train_change['AMBIENCE'].sum(), data_train_change['QUALITY'].sum(), data_train_change['PRICES'].sum(), data_train_change['LOCATION'].sum(), data_train_change['SERVICE'].sum()

(737, 2686, 1648, 373, 795)

In [55]:
data_dev_change['AMBIENCE'].sum(), data_dev_change['QUALITY'].sum(), data_dev_change['PRICES'].sum(), data_dev_change['LOCATION'].sum(), data_dev_change['SERVICE'].sum()

(205, 1170, 768, 134, 228)

In [12]:
data_test_change['LOCATION'].sum(), data_test_change['SERVICE'].sum(), data_test_change['AMBIENCE'].sum(), data_test_change['QUALITY'].sum(), data_test_change['PRICES'].sum()

(179, 175, 255, 474, 405)

### Hotel

In [13]:
data = pd.read_csv(r"datasets\vlsp2018_hotel\1-VLSP2018-SA-Hotel-train.csv")
# data = pd.read_csv(r"datasets\vlsp2018_hotel\2-VLSP2018-SA-Hotel-dev.csv")
# data = pd.read_csv(r"datasets\vlsp2018_hotel\3-VLSP2018-SA-Hotel-test.csv")

In [14]:
data.head(3)

,Review,FACILITIES#CLEANLINESS,FACILITIES#COMFORT,FACILITIES#DESIGN&FEATURES,FACILITIES#GENERAL,FACILITIES#MISCELLANEOUS,FACILITIES#PRICES,FACILITIES#QUALITY,FOOD&DRINKS#MISCELLANEOUS,FOOD&DRINKS#PRICES,...,ROOMS#PRICES,ROOMS#QUALITY,ROOM_AMENITIES#CLEANLINESS,ROOM_AMENITIES#COMFORT,ROOM_AMENITIES#DESIGN&FEATURES,ROOM_AMENITIES#GENERAL,ROOM_AMENITIES#MISCELLANEOUS,ROOM_AMENITIES#PRICES,ROOM_AMENITIES#QUALITY,SERVICE#GENERAL
0,Rộng rãi KS mới nhưng rất vắng. Các dịch vụ ch...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Địa điểm thuận tiện, trong vòng bán kính 1,5km...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Phục vụ, view đẹp, vị trí",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
data.columns, data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Review                          3000 non-null   object
 1   FACILITIES#CLEANLINESS          3000 non-null   int64
 2   FACILITIES#COMFORT              3000 non-null   int64
 3   FACILITIES#DESIGN&FEATURES      3000 non-null   int64
 4   FACILITIES#GENERAL              3000 non-null   int64
 5   FACILITIES#MISCELLANEOUS        3000 non-null   int64
 6   FACILITIES#PRICES               3000 non-null   int64
 7   FACILITIES#QUALITY              3000 non-null   int64
 8   FOOD&DRINKS#MISCELLANEOUS       3000 non-null   int64
 9   FOOD&DRINKS#PRICES              3000 non-null   int64
 10  FOOD&DRINKS#QUALITY             3000 non-null   int64
 11  FOOD&DRINKS#STYLE&OPTIONS       3000 non-null   int64
 12  HOTEL#CLEANLINESS               3000 non-null   int64
 13  HOTEL#COMFORT                   3000 non-null   int64
 14  HOTEL#DESIGN&FEATURES           3000 non-null   int64
 15  HOTEL#GENERAL                   3000 non-null   int64
 16  HOTEL#MISCELLANEOUS             3000 non-null   int64
 17  HOTEL#PRICES                    3000 non-null   int64
 18  HOTEL#QUALITY                   3000 non-null   int64
 19  LOCATION#GENERAL                3000 non-null   int64
 20  ROOMS#CLEANLINESS               3000 non-null   int64
 21  ROOMS#COMFORT                   3000 non-null   int64
 22  ROOMS#DESIGN&FEATURES           3000 non-null   int64
 23  ROOMS#GENERAL                   3000 non-null   int64
 24  ROOMS#MISCELLANEOUS             3000 non-null   int64
 25  ROOMS#PRICES                    3000 non-null   int64
 26  ROOMS#QUALITY                   3000 non-null   int64
 27  ROOM_AMENITIES#CLEANLINESS      3000 non-null   int64
 28  ROOM_AMENITIES#COMFORT          3000 non-null   int64
 29  ROOM_AMENITIES#DESIGN&FEATURES  3000 non-null   int64
 30  ROOM_AMENITIES#GENERAL          3000 non-null   int64
 31  ROOM_AMENITIES#MISCELLANEOUS    3000 non-null   int64
 32  ROOM_AMENITIES#PRICES           3000 non-null   int64
 33  ROOM_AMENITIES#QUALITY          3000 non-null   int64
 34  SERVICE#GENERAL                 3000 non-null   int64
dtypes: int64(34), object(1)
memory usage: 820.4+ KB

(Index(['Review', 'FACILITIES#CLEANLINESS', 'FACILITIES#COMFORT',
        'FACILITIES#DESIGN&FEATURES', 'FACILITIES#GENERAL',
        'FACILITIES#MISCELLANEOUS', 'FACILITIES#PRICES', 'FACILITIES#QUALITY',
        'FOOD&DRINKS#MISCELLANEOUS', 'FOOD&DRINKS#PRICES',
        'FOOD&DRINKS#QUALITY', 'FOOD&DRINKS#STYLE&OPTIONS', 'HOTEL#CLEANLINESS',
        'HOTEL#COMFORT', 'HOTEL#DESIGN&FEATURES', 'HOTEL#GENERAL',
        'HOTEL#MISCELLANEOUS', 'HOTEL#PRICES', 'HOTEL#QUALITY',
        'LOCATION#GENERAL', 'ROOMS#CLEANLINESS', 'ROOMS#COMFORT',
        'ROOMS#DESIGN&FEATURES', 'ROOMS#GENERAL', 'ROOMS#MISCELLANEOUS',
        'ROOMS#PRICES', 'ROOMS#QUALITY', 'ROOM_AMENITIES#CLEANLINESS',
        'ROOM_AMENITIES#COMFORT', 'ROOM_AMENITIES#DESIGN&FEATURES',
        'ROOM_AMENITIES#GENERAL', 'ROOM_AMENITIES#MISCELLANEOUS',
        'ROOM_AMENITIES#PRICES', 'ROOM_AMENITIES#QUALITY', 'SERVICE#GENERAL'],
       dtype='object'),
 None)

In [16]:
def PriceMerge(row, data, key):
    value = np.zeros(len(key))
    cols = np.array(data.columns)[1:]
    label = np.array(row)[1:]
    dt = pd.DataFrame([value], columns=key, dtype=int)
    for i, col in enumerate(cols):
        for k in key:
            kp = 'XXXXX'
            if k == 'AMBIENCE': 
                kp = 'ROOM_AMENITIES'
            if k == 'QUALITY':
                kp = 'FACILITIES'
            if (k in col) or (kp in col):
                if (label[i] > 0):
                    dt[k] = 1
    
    return dt

In [17]:
key = ['Review', 'AMBIENCE', 'QUALITY', 'PRICES', 'LOCATION', 'SERVICE']
newCol = data.apply(lambda row : PriceMerge(row, data, key[1:]), axis=1)
result_df = pd.concat([data, pd.concat(newCol.values).reset_index(drop=True)], axis=1)
result_df = result_df[key]
print(result_df.head(3))

                                              Review  AMBIENCE  QUALITY  \
0  Rộng rãi KS mới nhưng rất vắng. Các dịch vụ ch...         0        0
1  Địa điểm thuận tiện, trong vòng bán kính 1,5km...         0        0
2                          Phục vụ, view đẹp, vị trí         0        0

   PRICES  LOCATION  SERVICE
0       0         0        0
1       0         1        0
2       0         1        1

In [18]:
last_df = result_df[(result_df[key[1:]] != 0).any(axis=1)]
last_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2790 entries, 1 to 2999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    2790 non-null   object
 1   AMBIENCE  2790 non-null   int64
 2   QUALITY   2790 non-null   int64
 3   PRICES    2790 non-null   int64
 4   LOCATION  2790 non-null   int64
 5   SERVICE   2790 non-null   int64
dtypes: int64(5), object(1)
memory usage: 152.6+ KB

In [19]:
last_df.to_csv(r'relabel\hotel\Hotel-train.csv', index=False)
# result_df.to_csv(r'relabel\hotel\Hotel-dev.csv', index=False)
# result_df.to_csv(r'relabel\hotel\Hotel-test.csv', index=False)

In [20]:
data_train_change = pd.read_csv(r'relabel\hotel\Hotel-train.csv')
data_dev_change = pd.read_csv(r'relabel\hotel\Hotel-dev.csv')
data_test_change = pd.read_csv(r'relabel\hotel\Hotel-test.csv')

In [21]:
data_train_change['AMBIENCE'].sum(), data_train_change['QUALITY'].sum(), data_train_change['PRICES'].sum(), data_train_change['LOCATION'].sum(), data_train_change['SERVICE'].sum()

(738, 1632, 814, 1196, 1912)

In [22]:
data_dev_change['AMBIENCE'].sum(), data_dev_change['QUALITY'].sum(), data_dev_change['PRICES'].sum(), data_dev_change['LOCATION'].sum(), data_dev_change['SERVICE'].sum()

(669, 826, 245, 567, 1311)

In [23]:
data_test_change['AMBIENCE'].sum(), data_test_change['QUALITY'].sum(), data_test_change['PRICES'].sum(), data_test_change['LOCATION'].sum(), data_test_change['SERVICE'].sum()

(242, 293, 119, 221, 416)

### Restaurant En

In [24]:
data = pd.read_csv(r"enData\restaurant\ABSA16_Restaurants_Train_SB1_v2_Aspect.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'enData\\restaurant\\ABSA16_Restaurants_Train_SB1_v2_Aspect.csv'

In [ ]:
def PriceMerge(row, data, key):
    value = np.zeros(len(key))
    cols = np.array(data.columns)[1:]
    label = np.array(row)[1:]
    dt = pd.DataFrame([value], columns=key, dtype=int)
    for i, col in enumerate(cols):
        for k in key:
            if k in col:
                if (label[i] > 0):
                    dt[k] = 1
    
    return dt

In [ ]:
key = ['Review', 'AMBIENCE', 'QUALITY', 'PRICES', 'LOCATION', 'SERVICE']
newCol = data.apply(lambda row : PriceMerge(row, data, key[1:]), axis=1)
result_df = pd.concat([data, pd.concat(newCol.values).reset_index(drop=True)], axis=1)
result_df = result_df[key]
print(result_df.head(3))

                                              Review  AMBIENCE  QUALITY  \
0  Judging from previous posts this used to be a ...         0        0
1  We, there were four of us, arrived at noon - t...         0        0
2  They never brought us complimentary noodles, i...         0        0

   PRICES  LOCATION  SERVICE
0       0         0        0
1       0         0        1
2       0         0        1

In [ ]:
result_df.to_csv(r'relabel\restaurant\en\Restaurant-train.csv', index=False)

In [ ]:
data_train_change = pd.read_csv(r'relabel\restaurant\en\Restaurant-train.csv')

In [ ]:
filtered_df = data_train_change[data_train_change['LOCATION'] == 1]

In [ ]:
data_train_change['LOCATION'].sum(), data_train_change['SERVICE'].sum(), data_train_change['AMBIENCE'].sum(), data_train_change['QUALITY'].sum(), data_train_change['PRICES'].sum()

(28, 419, 226, 716, 177)

In [ ]:
filtered_df['LOCATION'].sum(), filtered_df['SERVICE'].sum(), filtered_df['AMBIENCE'].sum(), filtered_df['QUALITY'].sum(), filtered_df['PRICES'].sum()

(28, 4, 7, 10, 3)

### Merge

#### Train

In [42]:
train_ht = pd.read_csv(r'relabel\hotel\Hotel-train.csv')
train_re = pd.read_csv(r'relabel\restaurant\vn\Restaurant-train.csv')

In [43]:
train_ht.info(), train_re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2790 entries, 0 to 2789
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    2790 non-null   object
 1   AMBIENCE  2790 non-null   int64
 2   QUALITY   2790 non-null   int64
 3   PRICES    2790 non-null   int64
 4   LOCATION  2790 non-null   int64
 5   SERVICE   2790 non-null   int64
dtypes: int64(5), object(1)
memory usage: 130.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2895 entries, 0 to 2894
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    2895 non-null   object
 1   AMBIENCE  2895 non-null   int64
 2   QUALITY   2895 non-null   int64
 3   PRICES    2895 non-null   int64
 4   LOCATION  2895 non-null   int64
 5   SERVICE   2895 non-null   int64
dtypes: int64(5), object(1)
memory usage: 135.8+ KB

(None, None)

In [44]:
train_ht['AMBIENCE'].sum(), train_ht['QUALITY'].sum(), train_ht['PRICES'].sum(), train_ht['LOCATION'].sum(), train_ht['SERVICE'].sum()

(738, 1632, 814, 1196, 1912)

In [45]:
train_re['AMBIENCE'].sum(), train_re['QUALITY'].sum(), train_re['PRICES'].sum(), train_re['LOCATION'].sum(), train_re['SERVICE'].sum()

(737, 2686, 1648, 373, 795)

In [46]:
train_merge = pd.concat([train_ht, train_re], axis=0)

In [47]:
train_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5685 entries, 0 to 2894
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    5685 non-null   object
 1   AMBIENCE  5685 non-null   int64
 2   QUALITY   5685 non-null   int64
 3   PRICES    5685 non-null   int64
 4   LOCATION  5685 non-null   int64
 5   SERVICE   5685 non-null   int64
dtypes: int64(5), object(1)
memory usage: 310.9+ KB

In [48]:
train_merge.to_csv(r'relabel\train_merge.csv', index=False)

In [49]:
train_merge['AMBIENCE'].sum(), train_merge['QUALITY'].sum(), train_merge['PRICES'].sum(), train_merge['LOCATION'].sum(), train_merge['SERVICE'].sum()

(1475, 4318, 2462, 1569, 2707)

#### Dev

In [26]:
dev_ht = pd.read_csv(r'relabel\hotel\Hotel-dev.csv')
dev_re = pd.read_csv(r'relabel\restaurant\vn\Restaurant-dev.csv')

In [27]:
dev_ht.info(), dev_re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    2000 non-null   object
 1   AMBIENCE  2000 non-null   int64
 2   QUALITY   2000 non-null   int64
 3   PRICES    2000 non-null   int64
 4   LOCATION  2000 non-null   int64
 5   SERVICE   2000 non-null   int64
dtypes: int64(5), object(1)
memory usage: 93.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273 entries, 0 to 1272
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    1273 non-null   object
 1   AMBIENCE  1273 non-null   int64
 2   QUALITY   1273 non-null   int64
 3   PRICES    1273 non-null   int64
 4   LOCATION  1273 non-null   int64
 5   SERVICE   1273 non-null   int64
dtypes: int64(5), object(1)
memory usage: 59.8+ KB

(None, None)

In [31]:
dev_ht['AMBIENCE'].sum(), dev_ht['QUALITY'].sum(), dev_ht['PRICES'].sum(), dev_ht['LOCATION'].sum(), dev_ht['SERVICE'].sum()

(669, 826, 245, 567, 1311)

In [32]:
dev_re['AMBIENCE'].sum(), dev_re['QUALITY'].sum(), dev_re['PRICES'].sum(), dev_re['LOCATION'].sum(), dev_re['SERVICE'].sum()

(205, 1170, 768, 134, 228)

In [28]:
dev_merge = pd.concat([dev_ht, dev_re], axis=0)

In [29]:
dev_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3273 entries, 0 to 1272
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    3273 non-null   object
 1   AMBIENCE  3273 non-null   int64
 2   QUALITY   3273 non-null   int64
 3   PRICES    3273 non-null   int64
 4   LOCATION  3273 non-null   int64
 5   SERVICE   3273 non-null   int64
dtypes: int64(5), object(1)
memory usage: 179.0+ KB

In [30]:
dev_merge['AMBIENCE'].sum(), dev_merge['QUALITY'].sum(), dev_merge['PRICES'].sum(), dev_merge['LOCATION'].sum(), dev_merge['SERVICE'].sum()

(874, 1996, 1013, 701, 1539)

In [40]:
dev_merge.to_csv(r'relabel\dev_merge.csv', index=False)

#### Test

In [33]:
test_ht = pd.read_csv(r'relabel\hotel\Hotel-test.csv')
test_re = pd.read_csv(r'relabel\restaurant\vn\Restaurant-test.csv')

In [34]:
test_ht['AMBIENCE'].sum(), test_ht['QUALITY'].sum(), test_ht['PRICES'].sum(), test_ht['LOCATION'].sum(), test_ht['SERVICE'].sum()

(242, 293, 119, 221, 416)

In [37]:
test_re['AMBIENCE'].sum(), test_re['QUALITY'].sum(), test_re['PRICES'].sum(), test_re['LOCATION'].sum(), test_re['SERVICE'].sum()

(255, 474, 405, 179, 175)

In [38]:
test_merge = pd.concat([test_ht, test_re], axis=0)

In [39]:
test_merge['AMBIENCE'].sum(), test_merge['QUALITY'].sum(), test_merge['PRICES'].sum(), test_merge['LOCATION'].sum(), test_merge['SERVICE'].sum()

(497, 767, 524, 400, 591)

In [41]:
test_merge.to_csv(r'relabel\test_merge.csv', index=False)

#### Merge train + test

In [50]:
train_test = pd.concat([train_merge, test_merge], axis=0)

In [52]:
train_test['AMBIENCE'].sum(), train_test['QUALITY'].sum(), train_test['PRICES'].sum(), train_test['LOCATION'].sum(), train_test['SERVICE'].sum()

(1972, 5085, 2986, 1969, 3298)

In [56]:
train_test.to_csv(r'relabel\train_test.csv', index=False)